body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.intro-social-buttons {
	text-align: center;
}

.contact-details {
	padding: 20px;
}

.contact-details i {
	font-size: 40px;
}

.contact-details__content {
	font-size: 30px;
}

.contact-details__item {
	text-align: center;
	margin-top: 30px;
}
.contact-details__item a {
	color: #FFFFFF;
	text-decoration: none;
}

.contact-details__item.highlight i {
	font-size: 50px;
}
.contact-details__item.highlight .contact-details__content {
	font-size: 40px;
}